{% extends 'form_div_layout.html.twig' %}


{% block adw_sonata_media_extra__image_type_widget %}
    {% set canvas_width_is_set = canvas.width is defined and canvas.width > 0 ? true : false %}
    {% set canvas_height_is_set = canvas.height is defined and canvas.height > 0 ? true : false %}

    <div id="{{ id }}__canvas_wrapper" class="canvas-wrapper">
        <canvas id="{{ id }}__canvas"
                {% if canvas_width_is_set %}width="{{ canvas.width }}"{% endif %}
                {% if canvas_height_is_set %}height="{{ canvas.height }}"{% endif %}
                style="border: 1px solid #ccc;"></canvas>
    </div>

    {{ block('form_widget') }}

    {# Дополнительное поле для отправки данных в base64-формате #}
    <input type="hidden"
           id="{{ id }}_base64String"
           name="{{ full_name }}[base64String]">

    <script>
        (function () {
            /**
             * @param {Image} img
             * @param {HTMLCanvasElement} canvas
             * @param cvWidth
             * @param cvHeight
             */
            var drawImgInCanvas = function (img, canvas, cvWidth, cvHeight) {
                var ctx2D = canvas.getContext('2d');

                {% set ration_func_name = (resize_type == 'inset') ? 'min' : 'max' %}
                var sizeRatio = 1,
                    imgLeft = 0,
                    imgTop = 0;
                if (cvWidth && cvHeight) {
                    sizeRatio = Math.{{ ration_func_name }}(
                        cvWidth / img.width,
                        cvHeight / img.height
                    );
                    imgLeft = (canvas.width - img.width * sizeRatio) / 2;
                    imgTop = (canvas.height - img.height * sizeRatio) / 2;
                } else if (cvWidth) {
                    sizeRatio = cvWidth / img.width;
                    if (sizeRatio > 1) {
                        sizeRatio = 1;
                        canvas.width = img.width;
                    }
                    if (canvas.width != img.width) {
                        canvas.width = cvWidth;
                    }
                    canvas.height = img.height * sizeRatio;
                } else if (cvHeight) {
                    sizeRatio = cvHeight / img.height;
                    if (sizeRatio > 1) {
                        sizeRatio = 1;
                        canvas.height = img.height;
                    }
                    if (canvas.height != img.height) {
                        canvas.height = cvHeight;
                    }
                    canvas.width = img.width * sizeRatio;
                }

                var imgWidth = img.width * sizeRatio,
                    imgHeight = img.height * sizeRatio;

                ctx2D.beginPath();
                ctx2D.rect(0, 0, canvas.width, canvas.height);
                ctx2D.fillStyle = "white"; // TODO: define fill color on backend-side
                ctx2D.fill();

                ctx2D.drawImage(
                    img,
                    imgLeft, imgTop,
                    imgWidth, imgHeight
                );
            };

            /**
             * @param {HTMLElement} el
             * @param {String} eventName
             */
            var triggerEvent = function (el, eventName) {
                var event;

                if (document.createEvent) {
                    event = document.createEvent('HTMLEvents');
                    event.initEvent(eventName, true, true);
                } else {
                    event = document.createEventObject();
                    event.eventType = eventName;
                }

                event.eventName = eventName;

                if (document.createEvent) {
                    el.dispatchEvent(event);
                } else {
                    el.fireEvent('on' + event.eventType, event);
                }
            };

            var cvWidth = {% if canvas_width_is_set %} parseInt('{{ canvas.width }}'), {% else %} false, {% endif %}
                    cvHeight = {% if canvas_height_is_set %} parseInt('{{ canvas.height }}'), {% else %} false, {% endif %}
                    canvasEl = document.getElementById('{{ id }}__canvas'),
                    context2D = canvasEl.getContext('2d'),
                    fileInputEl = document.getElementById('{{ form.binaryContent.vars.id }}'),
                    canvasOutputEl = document.getElementById('{{ id }}_base64String'),
                    previewUrl = '{% path value, 'reference' %}',
                    img = new Image()
                    ;

            /**
             * @param {Event} evt
             */
            canvasEl.addEventListener('mouseup', function (evt) {
                // Get base64 encoded image
                canvasOutputEl.value = canvasEl.toDataURL('image/jpeg');
            });

            /**
             * @param {Event} evt
             */
            img.onload = function (evt) {
                var imgElem = evt.currentTarget;
                drawImgInCanvas(imgElem, canvasEl, cvWidth, cvHeight);
                if (fileInputEl.value)
                    triggerEvent(canvasEl, 'mouseup');
            };

            /**
             * @param {Event} evt
             */
            var onFileLoadedHandler = function (evt) {
                var file = evt.currentTarget.files[0];
                var fr = new FileReader();
                fr.onload = function (evt) {
                    img.src = evt.currentTarget.result;
                };
                fr.readAsDataURL(file);
            };
            fileInputEl.addEventListener('change', onFileLoadedHandler);

            // Show current image
            if (previewUrl.length > 0) {
                img.src = previewUrl;
            }
        })();

    </script>

{% endblock %}